<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<body>

<div th:fragment="notify-toastify">

    <script th:if="${notify != null}" th:inline="javascript">
        Toastify({
            text: [[${notify.message}]],
            duration: 3500,
            gravity: "top",
            position: "right",
            close: true,
            stopOnFocus: true,
            style: {
                background:
                    [[${notify.type.name()}]] === 'SUCCESS' ? "#28a745" :
                    [[${notify.type.name()}]] === 'ERROR'   ? "#dc3545" :
                    [[${notify.type.name()}]] === 'WARNING' ? "#ffc107" :
                                                              "#17a2b8"
            }
        }).showToast();
    </script>

</div>

</body>
</html>
